<%- layout('layout/home') %>

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg" style="width: 400px;">
        <h1 class="text-center">Add a New Link</h1>
        <form action="/" class="needs-validation" novalidate method="post">
            <div class="mb-3">
                <label for="Title" class="form-label">Enter Title</label>
                <input type="text" name="title" class="form-control" id="Title" required>
            </div>
            <div class="mb-3">
                <label for="category" class="form-label">Select category</label>
                <select class="form-select" id="category" name="category" required>
                    <% for(let category of Category) {%>
                        <option value="<%= category %>"><%= category %></option>
                    <% } %>
                </select>
            </div>
            <div class="mb-3">
                <label for="link" class="form-label">Enter link</label>
                <input type="text" class="form-control" id="link" name="link" required>
            </div>
            <button type="submit" class="btn btn-primary w-100">Submit</button>
        </form>
    </div>
</div>
