<%- layout('layout/home') %>
<link rel="stylesheet" href="/stylesheet/form.css">

<div class="d-flex justify-content-center align-items-center vh-100">
    <div class="card p-4 shadow-lg rounded-3" style="width: 400px; background-color: #f8f9fa;">
        <h1 class="text-center mb-4" style="font-size: 2.5rem; font-weight: 600;">Register</h1>

        <form action="/register" method="post">
            <div class="mb-4">
                <label for="username" class="form-label fs-5 text-muted">Enter Username</label>
                <input type="text" class="form-control form-control-lg p-3" id="username" name="username" required placeholder="Enter your username">
            </div>

            <div class="mb-4">
                <label for="email" class="form-label fs-5 text-muted">Email Address</label>
                <input type="email" class="form-control form-control-lg p-3" id="email" name="email" required placeholder="you@example.com">
            </div>

            <div class="mb-4">
                <label for="password" class="form-label fs-5 text-muted">Enter Password</label>
                <input type="password" class="form-control form-control-lg p-3" id="password" name="password" required placeholder="Enter a secure password">
            </div>

            <button type="submit" class="btn btn-primary w-100 py-3 fs-5 fw-bold">Submit</button>
        </form>
    </div>
</div>

